<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <a href="/" class="btn btn-link">Voltar</a>
            </div>

            <div class="col-6 offset-3">
                <h3>Nome:</h3>
                <p>{{dados.nome}}</p>
            </div>
            <div class="col-6 offset-3">
                <h3>Telefone:</h3>
                <p>{{dados.telefone}}</p>
            </div>
            <div class="col-6 offset-3">
                <h3>Endereço:</h3>
                <p>{{dados.endereco}}</p>
            </div>
            <div class="col-6 offset-3">
                <h3>Data de agendamento:</h3>
                <p>{{dados.data_agendamento}}</p>
            </div>
        </div>
    </div>
</body>

</html>